.projects-main-container
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


.projects-main-div
    width: 100%
    display: flex
    flex-direction: column
    height: 70%
    @media screen and (min-width: 993px)
        height: 50%
        flex-direction: row 


.projects-title
    height: 30%
    width: 100%
    background-color: $corn
    @media screen and (min-width: 993px)
        height: 100%
        width: 30%

.projects-inner-div
    height: 70%
    width: 100%
    border: 5px solid $corn
    // background:rgba(0,0,0,0.8)
    backdrop-filter: blur(10px)
    @media screen and (min-width: 993px)
        height: 100%
        width: 70%

